{% extends "disque/formulaire.html" %}
{% block title %} Formulaire {% endblock %}
    {% block super %}
        {% block sidebar %}
        <h2> Explications </h2>
        <p>Sur cette page vous pouvez ajouter des disques. Si vous souhaitez avoir un apperçu des disques disponnibles chez ce disquaire, rendez-vous sur <a href="/disque/alldisquaire">cette page</a> et cliquez sur <strong>"détails"</strong>.</p>
        {% endblock %}
        {% block h1 %} Formulaire ajout disque {% endblock %}
            {% block section %}
                {% block content %}
                <article class="formulaire">
                    <h2>Nouveau disque :</h2>
                    <form method="post" action="/disque/traitement">
                    {% csrf_token %}
                    {{ form.as_p }}
                        <input type="submit" value="envoyer les données">
                </article>
                {% endblock %}
                {% endblock %}
            {% endblock %}