<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'disque/index.css' %}">
    <title> {% block title %} Formulaire {% endblock %} </title>
</head>
<body>
    <div class="main">
        {% block main %}
        <h1>{% block h1 %} Formulaire {% endblock %}</h1>
            <nav>
                <a href="/disque/alldisquaire"> Accueil</a>
                <a href="/disque/ajoutdisquaire"> Ajouter un disquaire</a>
            </nav>
        <aside id="sidebar">
            {% block sidebar %}
            <h2>{% block h2 %} Explications {% endblock %}</h2>
            <p>Sur cette page vous pouvez ajouter des disquaires/disques. Si vous souhaitez avoir un apperçu des disques disponnibles chez ce disquaire, rendez-vous sur <a href="/disque/alldisquaire">cette page</a> et cliquez sur <strong>"détails"</strong>.</p>
            {% endblock %}
        </aside>
        <section id="section">
            {% block section %}
            <p id="content">
                {% block content %}
                {% endblock %}
                {% endblock %}
            {% endblock %}
        </section>
        <footer><p>test footer</p></footer>
        </div>

</body>
</html>