{% extends "disque/main.html" %}
{% block title %} Mise à jour {% endblock %}
    {% block super %}
        {% block h1 %} Formulaire mise à jour disquaire {% endblock %}
            {% block section %}
                {% block content %}
                <article class="formulaire">
                    <h2>Disquaire {{disquaire.id}} :</h2>
                    <form method="post" action="/disque/traitementupdatedisquaire/{{id}}">
                    {% csrf_token %}
                    {{ form.as_p }}
                        <input type="submit" value="envoyer les données">
                        <a href="/disque/main/"><button>annuler</button></a>
                    </form>
                </article>
                {% endblock %}
                {% endblock %}
            {% endblock %}